In [1]:
import easyaccess as ea

In [2]:
import pandas as pd
import numpy as np

In [3]:
db = ea.connect(section='desoper')

Connecting to DB ** desoper ** ...

In [11]:
query = "select distinct expnum, date_obs, telra, teldec, exptime, band, object from prod.exposure where \
nite=20140818 and program='survey' order by expnum "

In [38]:
query = "select expnum, telra, teldec from prod.exposure where nite=20140818 and program='survey' order by expnum "

In [39]:
result = db.query_to_pandas(query)

In [40]:
result.head(20)

    EXPNUM         TELRA         TELDEC
0   349754  21:54:45.468  -40:58:45.296
1   349755  22:08:45.769  -41:48:25.596
2   349756  22:06:29.707  -42:32:04.096
3   349757  22:19:14.696  -43:14:41.096
4   349758  22:18:59.108  -44:01:21.594
5   349759  22:09:46.969  -44:15:33.995
6   349760  22:09:30.877  -45:02:13.697
7   349761  22:24:28.656  -45:51:56.394
8   349762  22:22:32.509  -46:35:33.396
9   349763  22:17:24.198  -47:18:10.195
10  349764  22:23:45.906  -47:53:41.096
11  349765  22:21:42.296  -48:37:17.893
12  349766  22:36:14.486  -49:19:54.494
13  349767  22:31:12.727  -49:38:09.996
14  349768  22:31:12.716  -49:38:09.794
15  349769  22:35:36.708  -52:08:18.593
16  349770  22:41:01.428  -52:40:46.693
17  349771  22:40:54.476  -54:42:30.694
18  349772  22:40:46.618  -56:44:14.896
19  349773  22:46:42.906  -56:25:58.994