In [21]:
import easyaccess as ea
import pandas as pd
import numpy as np

In [22]:
db = ea.connect(section = 'desoper')

Connecting to DB ** desoper ** ...

In [23]:
query = "select distinct DATE_OBS, RA, DEC, EXPNUM, BAND, CCD, MAG, ML_SCORE, objects.objid from scheibne.OBJECTS inner join scheibne.linker on \
... objects.objid=linker.objid where linker.canid= 'Mysterious Centaur' ORDER BY OBJID"
result = db.query_to_pandas(query)
print result

Empty DataFrame
Columns: [DATE_OBS, RA, DEC, EXPNUM, BAND, CCD, MAG, ML_SCORE, OBJID]
Index: []

In [17]:
query = "DELETE FROM scheibne.objects WHERE objid='28632960' or objid='28813385' or objid='28869833' or objid = '28928859' or objid = '29041484' or objid = '29471684' or objid = '31619604'"
result = db.query_to_pandas(query)
print result

AttributeError: 'NoneType' object has no attribute 'description'

In [6]:
#Candidate Names
query = "select * FROM scheibne.status"
result = db.query_to_pandas(query)
print result

                  CANID       STATUS FLAG         MPC
0        S11Y2NF_good_3  Uninspected   No  Unreported
1        S11Y2NF_good_1  Uninspected   No  Unreported
2        S11Y2NF_good_2  Uninspected   No  Unreported
3        S11Y2NF_good_0  Uninspected   No  Unreported
4        S11Y3NF_good_4  Uninspected   No  Unreported
5        S11Y3NF_good_3  Uninspected   No  Unreported
6        S11Y3NF_good_1  Uninspected   No  Unreported
7        S11Y3NF_good_2  Uninspected   No  Unreported
8        S11Y3NF_good_0  Uninspected   No  Unreported
9        S12Y2NF_good_4  Uninspected   No  Unreported
10       S12Y2NF_good_3  Uninspected   No  Unreported
11       S12Y2NF_good_8  Uninspected   No  Unreported
12       S12Y2NF_good_6  Uninspected   No  Unreported
13       S12Y2NF_good_7  Uninspected   No  Unreported
14       S12Y2NF_good_1  Uninspected   No  Unreported
15       S12Y2NF_good_2  Uninspected   No  Unreported
16       S12Y2NF_good_5  Uninspected   No  Unreported
17       S12Y2NF_good_0  Uninspected   No  Unreported
18       S12Y3NF_good_0  Uninspected   No  Unreported
19       S13Y2NF_good_4  Uninspected   No  Unreported
20       S13Y2NF_good_3  Uninspected   No  Unreported
21       S13Y2NF_good_8  Uninspected   No  Unreported
22       S13Y2NF_good_6  Uninspected   No  Unreported
23       S13Y2NF_good_7  Uninspected   No  Unreported
24       S13Y2NF_good_1  Uninspected   No  Unreported
25       S13Y2NF_good_2  Uninspected   No  Unreported
26       S13Y2NF_good_9  Uninspected   No  Unreported
27       S13Y2NF_good_5  Uninspected   No  Unreported
28       S13Y2NF_good_0  Uninspected   No  Unreported
29       S13Y3NF_good_1  Uninspected   No  Unreported
30       S13Y3NF_good_2  Uninspected   No  Unreported
31       S13Y3NF_good_0  Uninspected   No  Unreported
32       S14Y2NF_good_0  Uninspected   No  Unreported
33       S14Y3NF_good_1  Uninspected   No  Unreported
34       S14Y3NF_good_2  Uninspected   No  Unreported
35       S14Y3NF_good_0  Uninspected   No  Unreported
36       S15Y2NF_good_0  Uninspected   No  Unreported
37       S16Y2NF_good_0  Uninspected   No  Unreported
38       S17Y2NF_good_4  Uninspected   No  Unreported
39       S17Y2NF_good_3  Uninspected   No  Unreported
40       S17Y2NF_good_1  Uninspected   No  Unreported
41       S17Y2NF_good_2  Uninspected   No  Unreported
42       S17Y2NF_good_5  Uninspected   No  Unreported
43       S17Y2NF_good_0  Uninspected   No  Unreported
44       S17Y3NF_good_1  Uninspected   No  Unreported
45       S17Y3NF_good_0  Uninspected   No  Unreported
46      S118Y3NF_good_4  Uninspected   No  Unreported
47      S118Y3NF_good_3  Uninspected   No  Unreported
48      S118Y3NF_good_8  Uninspected   No  Unreported
49      S118Y3NF_good_6  Uninspected   No  Unreported
50      S118Y3NF_good_7  Uninspected   No  Unreported
51      S118Y3NF_good_1  Uninspected   No  Unreported
52      S118Y3NF_good_2  Uninspected   No  Unreported
53      S118Y3NF_good_9  Uninspected   No  Unreported
54      S118Y3NF_good_5  Uninspected   No  Unreported
55      S118Y3NF_good_0  Uninspected   No  Unreported
56      S119Y2NF_good_1  Uninspected   No  Unreported
57      S119Y2NF_good_2  Uninspected   No  Unreported
58      S119Y2NF_good_0  Uninspected   No  Unreported
59      S119Y3NF_good_3  Uninspected   No  Unreported
60      S119Y3NF_good_1  Uninspected   No  Unreported
61      S119Y3NF_good_2  Uninspected   No  Unreported
62      S119Y3NF_good_0  Uninspected   No  Unreported
63   Mysterious Centaur  Uninspected   No  Unreported
64              cand001     Accepted   No    Reported
65              cand002     Rejected   No  Unreported
66              cand003  Uninspected   No    Reported
67    S12_Y3_FO_Good_28  Uninspected   No  Unreported
68        S12Y3_good_29  Uninspected   No  Unreported
69        S12Y3_good_27  Uninspected   No  Unreported
70      S12Y3FO_good_26  Uninspected   No  Unreported
71       S10Y2NF_good_4  Uninspected   No  Unreported
72      S10Y2NF_good_25  Uninspected   No  Unreported
73      S10Y2NF_good_23  Uninspected   No  Unreported
74       S10Y2NF_good_3  Uninspected   No  Unreported
75      S10Y2NF_good_36  Uninspected   No  Unreported
76      S10Y2NF_good_18  Uninspected   No  Unreported
77      S10Y2NF_good_42  Uninspected   No  Unreported
78      S10Y2NF_good_34  Uninspected   No  Unreported
79      S10Y2NF_good_30  Uninspected   No  Unreported
80       S10Y2NF_good_8  Uninspected   No  Unreported
81      S10Y2NF_good_11  Uninspected  Yes  Unreported
82      S10Y2NF_good_10  Uninspected   No  Unreported
83      S10Y2NF_good_33  Uninspected   No  Unreported
84      S10Y2NF_good_14  Uninspected   No  Unreported
85      S10Y2NF_good_31  Uninspected   No  Unreported
86      S10Y2NF_good_22  Uninspected   No  Unreported
87      S10Y2NF_good_39  Uninspected   No  Unreported
88       S10Y2NF_good_6  Uninspected   No  Unreported
89      S10Y2NF_good_37  Uninspected   No  Unreported
90      S10Y2NF_good_20  Uninspected   No  Unreported
91      S10Y2NF_good_45  Uninspected   No  Unreported
92      S10Y2NF_good_13  Uninspected   No  Unreported
93      S10Y2NF_good_15  Uninspected   No  Unreported
94      S10Y2NF_good_48  Uninspected   No  Unreported
95       S10Y2NF_good_7  Uninspected   No  Unreported
96      S10Y2NF_good_40  Uninspected   No  Unreported
97      S10Y2NF_good_16  Uninspected   No  Unreported
98      S10Y2NF_good_19  Uninspected   No  Unreported
99      S10Y2NF_good_41  Uninspected   No  Unreported
100      S10Y2NF_good_1  Uninspected   No  Unreported
101      S10Y2NF_good_2  Uninspected   No  Unreported
102     S10Y2NF_good_24  Uninspected   No  Unreported
103     S10Y2NF_good_26  Uninspected   No  Unreported
104     S10Y2NF_good_46  Uninspected   No  Unreported
105      S10Y2NF_good_9  Uninspected   No  Unreported
106     S10Y2NF_good_47  Uninspected   No  Unreported
107     S10Y2NF_good_43  Uninspected   No  Unreported
108     S10Y2NF_good_32  Uninspected   No  Unreported
109     S10Y2NF_good_44  Uninspected   No  Unreported
110     S10Y2NF_good_28  Uninspected   No  Unreported
111     S10Y2NF_good_12  Uninspected   No  Unreported
112      S10Y2NF_good_5  Uninspected   No  Unreported
113      S10Y2NF_good_0  Uninspected   No  Unreported
114     S10Y2NF_good_17  Uninspected   No  Unreported
115     S10Y2NF_good_35  Uninspected   No  Unreported
116     S10Y2NF_good_29  Uninspected   No  Unreported
117     S10Y2NF_good_21  Uninspected   No  Unreported
118     S10Y2NF_good_38  Uninspected   No  Unreported
119     S10Y2NF_good_27  Uninspected   No  Unreported

In [47]:
query = "select * FROM scheibne.images"
result = db.query_to_pandas(query)
result.head()

     OBJID          PATH  REF  T_EFF  CCD  EXPNUM             DATE_OBS
0  7088355  path/to/file  Yes  1.067   45  345654  2013/10/28 01:33:55

In [48]:
query = "select * FROM scheibne.linker"
result = db.query_to_pandas(query)
result.head()

     CANID     OBJID
0  cand001  32025356
1  cand001  31674061
2  cand001  31373733
3  cand001  31336446
4  cand002  31655759

In [86]:
#Got all the OBJID for cand001

query = "select * FROM scheibne.linker WHERE CANID = 'cand001'"
result = db.query_to_pandas(query)
result.head()

     CANID     OBJID
0  cand001  32025356
1  cand001  31674061
2  cand001  31373733
3  cand001  31336446

In [49]:
query = "select * FROM scheibne.objects"
result = db.query_to_pandas(query)
result.head()

              DATE_OBS          RA          DEC  EXPNUM  EXPTIME BAND  CCD    MAG  ML_SCORE     OBJID     FAKEID
0   2016/1/16 02:39:02  2:53:55.87   -8:00:20.2  511744     90.0    i   57  18.90      0.98  32025356  150056721
1  2015/12/18 01:02:40  2:55:20.36   -8:12:53.4  502984     90.0    z   11  18.50      0.99  31674061  150056721
2  2015/12/17 04:31:13  2:55:23.73   -8:13:07.5  502703     90.0    i   11  18.84      0.99  31373733  150056721
3  2015/12/17 04:29:15  2:55:23.73   -8:13:07.5  502702     90.0    r   11  19.30      0.99  31336446  150056721
4  2015/11/30 05:48:43  2:52:54.50  -12:27:35.8  497807     90.0    i   14  21.64      0.92  31655759  150058187

In [90]:
query = "select * FROM scheibne.linker, scheibne.objects, WHERE scheibne.linker.objid = scheibne.objects.objid AND scheibne.linker.canid = 'cand001'"
result = db.query_to_pandas(query)
result.head()

     CANID     OBJID             DATE_OBS          RA         DEC  EXPNUM  EXPTIME BAND  CCD    MAG  ML_SCORE     OBJID     FAKEID
0  cand001  32025356   2016/1/16 02:39:02  2:53:55.87  -8:00:20.2  511744     90.0    i   57  18.90      0.98  32025356  150056721
1  cand001  31674061  2015/12/18 01:02:40  2:55:20.36  -8:12:53.4  502984     90.0    z   11  18.50      0.99  31674061  150056721
2  cand001  31373733  2015/12/17 04:31:13  2:55:23.73  -8:13:07.5  502703     90.0    i   11  18.84      0.99  31373733  150056721
3  cand001  31336446  2015/12/17 04:29:15  2:55:23.73  -8:13:07.5  502702     90.0    r   11  19.30      0.99  31336446  150056721

In [50]:
query = "select * FROM scheibne.searchexps"
result = db.query_to_pandas(query)
result.head()

     CANID  SEARCHID          RA          DEC  EXPNUM BAND  CCD      PA      A     B             DATE_OBS
0  CAND111        45  3:20:55.43  -33:45:44.0  345654    g   51  134.33  44.12  0.03  2013/10/28 01:33:55

In [51]:
query = "select * FROM scheibne.searchimgs"
result = db.query_to_pandas(query)
result.head()

     CANID  SEARCHID          PATH  EXPNUM  CCD  T_EFF             DATE_OBS
0  CAND111        45  path/to/file  345654   51   1.33  2013/10/28 01:33:55

In [52]:
query = "select * FROM scheibne.status"
result = db.query_to_pandas(query)
result.head()

     CANID       STATUS FLAG         MPC
0  cand001  Uninspected  Yes    Reported
1  cand002     Rejected   No  Unreported
2  cand003     Accepted   No  Unreported

In [82]:
query = "select STATUS from scheibne.candlist, scheibne.images, scheibne.linker, scheibne.objects, scheibne.status"
result = db.query_to_pandas(query)
print result.head()

        STATUS
0  Uninspected
1  Uninspected
2  Uninspected
3  Uninspected
4  Uninspected

In [76]:
query = "select distinct DATE_OBS, RA, DEC, EXPNUM, EXPTIME, BAND, CCD, MAG, ML_SCORE FROM scheibne.status, scheibne.objects WHERE OBJID = 32025356"

In [77]:
result = db.query_to_pandas(query)
print result.head(5)

             DATE_OBS          RA         DEC  EXPNUM  EXPTIME BAND  CCD   MAG  ML_SCORE
0  2016/1/16 02:39:02  2:53:55.87  -8:00:20.2  511744     90.0    i   57  18.9      0.98

In [60]:
query = "select * FROM scheibne.candlist, scheibne.objects, scheibne.status where CANID = 'cand001'"

In [61]:
result = db.query_to_pandas(query)

DatabaseError: ORA-00918: column ambiguously defined

In [55]:
result.head()

     CANID       STATUS FLAG         MPC
0  cand001  Uninspected  Yes    Reported
1  cand002     Rejected   No  Unreported
2  cand003     Accepted   No  Unreported

DatabaseError: ORA-00942: table or view does not exist