In [44]:
import easyaccess as ea
import pandas as pd
import numpy as np

In [45]:
db = ea.connect(section = 'desoper')

Connecting to DB ** desoper ** ...

In [46]:
#Candidate Names
query = "select * FROM scheibne.candlist"
result = db.query_to_pandas(query)
result.head()

     CANID
0  cand001
1  cand002
2  cand003

In [47]:
query = "select * FROM scheibne.images"
result = db.query_to_pandas(query)
result.head()

     OBJID          PATH  REF  T_EFF  CCD  EXPNUM             DATE_OBS
0  7088355  path/to/file  Yes  1.067   45  345654  2013/10/28 01:33:55

In [48]:
query = "select * FROM scheibne.linker"
result = db.query_to_pandas(query)
result.head()

     CANID     OBJID
0  cand001  32025356
1  cand001  31674061
2  cand001  31373733
3  cand001  31336446
4  cand002  31655759

In [49]:
query = "select * FROM scheibne.objects"
result = db.query_to_pandas(query)
result.head()

              DATE_OBS          RA          DEC  EXPNUM  EXPTIME BAND  CCD    MAG  ML_SCORE     OBJID     FAKEID
0   2016/1/16 02:39:02  2:53:55.87   -8:00:20.2  511744     90.0    i   57  18.90      0.98  32025356  150056721
1  2015/12/18 01:02:40  2:55:20.36   -8:12:53.4  502984     90.0    z   11  18.50      0.99  31674061  150056721
2  2015/12/17 04:31:13  2:55:23.73   -8:13:07.5  502703     90.0    i   11  18.84      0.99  31373733  150056721
3  2015/12/17 04:29:15  2:55:23.73   -8:13:07.5  502702     90.0    r   11  19.30      0.99  31336446  150056721
4  2015/11/30 05:48:43  2:52:54.50  -12:27:35.8  497807     90.0    i   14  21.64      0.92  31655759  150058187

In [50]:
query = "select * FROM scheibne.searchexps"
result = db.query_to_pandas(query)
result.head()

     CANID  SEARCHID          RA          DEC  EXPNUM BAND  CCD      PA      A     B             DATE_OBS
0  CAND111        45  3:20:55.43  -33:45:44.0  345654    g   51  134.33  44.12  0.03  2013/10/28 01:33:55

In [51]:
query = "select * FROM scheibne.searchimgs"
result = db.query_to_pandas(query)
result.head()

     CANID  SEARCHID          PATH  EXPNUM  CCD  T_EFF             DATE_OBS
0  CAND111        45  path/to/file  345654   51   1.33  2013/10/28 01:33:55

In [52]:
query = "select * FROM scheibne.status"
result = db.query_to_pandas(query)
result.head()

     CANID       STATUS FLAG         MPC
0  cand001  Uninspected  Yes    Reported
1  cand002     Rejected   No  Unreported
2  cand003     Accepted   No  Unreported

In [76]:
query = "select distinct DATE_OBS, RA, DEC, EXPNUM, EXPTIME, BAND, CCD, MAG, ML_SCORE FROM scheibne.status, scheibne.objects WHERE OBJID = 32025356"

In [77]:
result = db.query_to_pandas(query)
print result.head(5)

             DATE_OBS          RA         DEC  EXPNUM  EXPTIME BAND  CCD   MAG  ML_SCORE
0  2016/1/16 02:39:02  2:53:55.87  -8:00:20.2  511744     90.0    i   57  18.9      0.98

In [60]:
query = "select * FROM scheibne.candlist, scheibne.objects, scheibne.status where CANID = 'cand001'"

In [61]:
result = db.query_to_pandas(query)

DatabaseError: ORA-00918: column ambiguously defined

In [55]:
result.head()

     CANID       STATUS FLAG         MPC
0  cand001  Uninspected  Yes    Reported
1  cand002     Rejected   No  Unreported
2  cand003     Accepted   No  Unreported

DatabaseError: ORA-00942: table or view does not exist