In [ ]:
import easyaccess as ea
import pandas as pd
import numpy as np
import glob
import os

In [11]:
cursor = db.cursor()
cmd = 'DROP TABLE lzullo.COMMENTTABLE'
cursor.execute(cmd)

OperationalError: ORA-03135: connection lost contact
Process ID: 6874
Session ID: 1783 Serial number: 4294990093

In [ ]:
cmd = 'create table lzullo.CANDLIST  \
       (\
          CANID     varchar2(80)  \
       )'

db = ea.connect(section='desoper')
cursor = db.cursor()
try:
    cursor.execute('drop table lzullo.CANDLIST')     # drop this table in case there was an existing copy
    cursor.execute(cmd)
except:
    cursor.execute(cmd)

In [10]:
cmd = 'create table lzullo.COMOBS  \
       (\
          CANID     varchar2(80),  \
          COM       varchar2(500), \
          DATE_ADD  varchar2(80) \
       )'

db = ea.connect(section='desoper')
cursor = db.cursor()
try:
    cursor.execute('drop table lzullo.COMOBS')     # drop this table in case there was an existing copy
    cursor.execute(cmd)
except:
    cursor.execute(cmd)

Connecting to DB ** desoper ** ...

In [ ]:
cmd = 'create table lzullo.COMSEARCH  \
       (\
          CANID     varchar2(80),  \
          COM       varchar2(500), \
          DATE_ADD  varchar2(80) \
       )'

db = ea.connect(section='desoper')
cursor = db.cursor()
try:
    cursor.execute('drop table lzullo.COMSEARCH')     # drop this table in case there was an existing copy
    cursor.execute(cmd)
except:
    cursor.execute(cmd)

In [ ]:
cmd = 'create table lzullo.IMAGES  \
       (\
          CANID     varchar2(80),  \
          CCD       NUMBER, \ 
          DATE_OBS  varchar2(500), \
          EXPNUM    NUMBER, \
          OBJID     NUMBER, \
          PATH      varchar2(200), \
          REF       varchar2(80), \
          T_EFF     NUMBER(10,3) \
       )'

db = ea.connect(section='desoper')
cursor = db.cursor()
try:
    cursor.execute('drop table lzullo.IMAGES')     # drop this table in case there was an existing copy
    cursor.execute(cmd)
except:
    cursor.execute(cmd)

In [ ]:
cmd = 'create table lzullo.LINKER  \
       (\
          CANID     varchar2(80),  \
          OBJID     NUMBER \

       )'

db = ea.connect(section='desoper')
cursor = db.cursor()
try:
    cursor.execute('drop table lzullo.LINKER')     # drop this table in case there was an existing copy
    cursor.execute(cmd)
except:
    cursor.execute(cmd)

In [ ]:
cmd = 'create table lzullo.OBJECTS  \
       (\
          BAND      varchar2(1), \
          CCD       NUMBER(20,0), \ 
          DATE_OBS  varchar2(80), \
          DEC       varchar2(11), \
          EXPNUM    NUMBER, \
          EXPTIME   binary_double(8), \
          FAKEID    NUMBER, \
          MAG       binary_double(8), \
          ML_SCORE  binary_double(8), \
          OBJID     NUMBER(20,0), \
          RA        varchar2(20), \
          SOURCE    varchar2(300) \ 
       )'

db = ea.connect(section='desoper')
cursor = db.cursor()
try:
    cursor.execute('drop table lzullo.OBJECTS')     # drop this table in case there was an existing copy
    cursor.execute(cmd)
except:
    cursor.execute(cmd)

In [ ]:
cmd = 'create table lzullo.ORBIT  \
       (\
          A         NUMBER, \
          AOP       NUMBER, \ 
          CANID     varchar2(80), \
          CHI       float(22), \
          E         NUMBER, \
          ERR_A     NUMBER, \
          ERR_AOP   NUMBER, \
          ERR_E     NUMBER, \
          ERR_1     NUMBER, \
          ERR_LAN   NUMBER, \
          ERR_TOP   NUMBER, \
          I         NUMBER, \
          LAN       NUMBER, \
          NDOF      NUMBER, \
          TOP       varchar2(80) \
       )'

db = ea.connect(section='desoper')
cursor = db.cursor()
try:
    cursor.execute('drop table lzullo.ORBIT')     # drop this table in case there was an existing copy
    cursor.execute(cmd)
except:
    cursor.execute(cmd)

In [ ]:
cmd = 'create table lzullo.SEARCHEXPS  \
       (\
          A          NUMBER(10,2), \
          B          NUMBER(10,2), \ 
          BAND       varchar2(80), \
          CANID      varchar2(80), \
          CCD        NUMBER(,0), \
          DATE_OBS   varchar2(80), \
          DEC        varchar2(80), \
          EXPNUM     NUMBER(,0), \
          PA         NUMBER(8,2), \
          RA         varchar2(80), \
          SEARCHID   NUMBER(,0) \
       )'

db = ea.connect(section='desoper')
cursor = db.cursor()
try:
    cursor.execute('drop table lzullo.SEARCHEXPS')     # drop this table in case there was an existing copy
    cursor.execute(cmd)
except:
    cursor.execute(cmd)

In [ ]:
cmd = 'create table lzullo.SEARCHIMGS  \
       (\
          CANID      varchar2(80), \
          CCD        NUMBER(,0), \
          DATE_OBS   varchar2(80), \
          EXPNUM     NUMBER(,0), \
          PATH       varchar2(200), \
          REF        varchar2(80), \
          SEARCHID   NUMBER(,0), \
          T_EFF      NUMBER(10,3) \
       )'

db = ea.connect(section='desoper')
cursor = db.cursor()
try:
    cursor.execute('drop table lzullo.SEARCHIMGS')     # drop this table in case there was an existing copy
    cursor.execute(cmd)
except:
    cursor.execute(cmd)

In [ ]:
cmd = 'create table lzullo.STATUS  \
       (\
          CANID      varchar2(80), \
          FLAG       varchar2(80), \
          MPC        varchar2(80), \
          STATUS     varchar2(80) \
       )'

db = ea.connect(section='desoper')
cursor = db.cursor()
try:
    cursor.execute('drop table lzullo.STATUS')     # drop this table in case there was an existing copy
    cursor.execute(cmd)
except:
    cursor.execute(cmd)